main.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "daabd71d-ef14-49af-8678-1c49a77d1d4e",
              "name": "Company name",
              "value": "={{ $json['Company name'] }}",
              "type": "string"
            },
            {
              "id": "aebcced6-c9d3-4941-8f80-e046e41ba056",
              "name": "Country",
              "value": "={{ $json.Country }}",
              "type": "string"
            },
            {
              "id": "b8b52b13-9c25-42f2-b254-6fba559980cf",
              "name": "Personalized Email Introduction",
              "value": "=",
              "type": "string"
            },
            {
              "id": "3941cbba-f7cd-45f0-9290-9d2b1d0c0550",
              "name": "Company addresses",
              "value": "={{ $json['Company addresses'] }}",
              "type": "string"
            },
            {
              "id": "ad809ebf-a970-4117-95d2-4785772c4ba5",
              "name": "Contact Full Name",
              "value": "={{ $json['1. Contact Full Name'] }}",
              "type": "string"
            },
            {
              "id": "e6f43107-114f-4c39-a97f-f77c1cf6e5cb",
              "name": "email",
              "value": "={{ $json['1. Contact Primary E-mail Address'] }}",
              "type": "string"
            },
            {
              "id": "fd1fdc45-06d9-4b58-afd6-e256d1d078bc",
              "name": "Contact Title",
              "value": "={{ $json['1. Contact Title'] }}",
              "type": "string"
            },
            {
              "id": "3892846e-d9b1-4bd0-8d90-515fd6452869",
              "name": "Contact First Name",
              "value": "={{ $json['1. Contact First Name'] }}",
              "type": "string"
            },
            {
              "id": "e8ee3cec-b82c-487a-a837-44f6c0327f0f",
              "name": "Contact Last Name",
              "value": "={{ $json['1. Contact Last Name'] }}",
              "type": "string"
            },
            {
              "id": "e3d7afb9-4234-4f25-b195-3f40b51c0e77",
              "name": "Website",
              "value": "={{ $json.Website }}",
              "type": "string"
            },
            {
              "id": "63e07575-4af8-40db-8ec4-e68cc81e56f9",
              "name": "Improvement",
              "value": "",
              "type": "string"
            },
            {
              "id": "9c5ef38b-3143-447b-9388-4230b7620650",
              "name": "company_lkin",
              "value": "={{ $json['Linkedin Url'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "80beaadc-1b16-4708-ae5e-266d0a60fdb0",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        -768
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        -768
      ],
      "id": "ccc3f5f9-f1aa-431b-9619-f03a86cb56e1",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mRfU1KO7JbyFBt0r",
          "name": "Alex-Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "=data",
        "options": {
          "headerRow": true,
          "sheetName": "Companies"
        }
      },
      "id": "3a4bf069-0fdd-44cc-97e0-b0ff2d0191ae",
      "name": "Extract Data",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        688,
        -768
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Ew_2EfId6DhhMYzEiNRwUoky_Zj0qH2g",
          "mode": "list",
          "cachedResultName": "EXPORTS INVEN",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Ew_2EfId6DhhMYzEiNRwUoky_Zj0qH2g"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        240,
        -768
      ],
      "id": "3aaa86bc-b2c8-4a0a-b14e-07855e707ef5",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mRfU1KO7JbyFBt0r",
          "name": "Alex-Drive"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1680,
        -288
      ],
      "id": "86f3bf95-9be6-44eb-bacd-f4d95af1969b",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "oqCgaBAms4P77kmD",
          "name": "Gemini -Alex"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject: {{ $json.output.initial_email.subject }}\nEmail: {{ $json.output.initial_email.body }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "ROLE:\nYou are an expert B2B sales coach and language specialist working for Call2World, a telecom group providing VoIP, fiber, mobile, and connectivity solutions to businesses. Your task is to evaluate and improve cold emails written in Spanish, English, Portuguese, or Italian for outbound prospecting.\n\nINSTRUCTIONS:\n\nWhen a cold email is provided, follow these steps precisely.\n\n────────────────────────────\nSTEP 1: ANALYSIS\n────────────────────────────\n1. Detect the email language and note it.\n2. Identify who the sender appears to be:\n   - Role, company type (B2B, telecom, industrial, etc.)\n3. Identify the recipient (ICP):\n   - Sector, seniority, role type, company type\n   - Use only explicit evidence from the email. Avoid assumptions without textual support.\n\n────────────────────────────\nSTEP 2: SCORING (0–10 each)\n────────────────────────────\nScore each category 0–10 and provide **one sentence justification** based on the email text.\n\n1. Subject line → relevance, clarity, attention.\n2. Personalization & relevance → mentions company, sector, region, or role.\n3. Value proposition → clear problem + benefit, specifically for telecom B2B (e.g., improve connectivity, reduce costs, reliable VoIP, multi-site support, international numbers).\n4. Clarity & brevity → ideal email length 50–125 words; assess readability and sentence structure.\n5. Call to action → simple, low-friction, one clear ask (call, reply, meeting).\n6. Tone & professionalism → founder-to-founder, respectful, not marketing-heavy or spammy.\n\nCalculate **Global Score** as the simple average of all 6 scores.\n\n────────────────────────────\nSTEP 3: DECISION\n────────────────────────────\nDecision = PASS / NO PASS\n\nRules:\n- PASS → Global Score ≥ 7.0 AND no critical red flags.\n- NO PASS → Global Score < 7.0 OR any red flag:\n    • Very generic or templated language\n    • Weak or missing CTA\n    • Too long (>200 words)\n    • Vague or unclear offer\n    • Spammy tone\n\n────────────────────────────\nSTEP 4: EITHER WAY EXPLAIN HOW TO IMPROVE\n────────────────────────────\nKey problems (bullets, max 5):\n- Short bullets explaining critical flaws (too long, generic, weak CTA, unclear benefits, etc.)\n\nConcrete improvements (bullets, max 7):\n- Suggest exactly where to **shorten or split sentences**.\n- Indicate **where to add 1 line of personalization**.\n- Recommend **how to clarify telecom value** (cost reduction, better reliability, VoIP quality, multi-site, remote teams, international numbers).\n- Suggest **how to write a clearer, low-friction CTA**.\n- Optional: indicate tone adjustments (more peer-to-peer, less marketing fluff).\n- Keep bullets specific, actionable, and grounded in the email text.\n\n────────────────────────────\nADDITIONAL RULES\n────────────────────────────\n- Base every insight on the email text only.\n- Avoid assumptions about company size or revenue unless stated.\n- Keep evaluations short, precise, and actionable.\n- Do not invent any new information or examples outside the email.\n- Output only text, no JSON or tables.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1680,
        -416
      ],
      "id": "252f0025-7bbd-4d33-8a21-841ea54903fb",
      "name": "Evaluador",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "57f86a5f-227b-4139-94ff-6de60aad4656",
              "leftValue": "={{ $json.output.decision }}",
              "rightValue": "=PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1952,
        -416
      ],
      "id": "e05d1c19-2d55-4eb8-a51e-11dbb617640d",
      "name": "If"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"analysis\": {\n      \"type\": \"string\",\n      \"description\": \"Un análisis breve (1-2 frases) justificando la decisión. Evalúa tono, personalización y claridad.\"\n    },\n    \"decision\": {\n      \"type\": \"string\",\n      \"enum\": [\"PASS\", \"NO PASS\"],\n      \"description\": \"Decisión final. Debe ser exactamente uno de los valores permitidos.\"\n    },\n    \"improvement\": {\n      \"type\": \"string\",\n      \"description\":  \"da instrucciones claras y accionables para que el agente escritor mejore el email\"\n    }\n  },\n  \"required\": [\"analysis\", \"decision\", \"improvement\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1824,
        -288
      ],
      "id": "7b341f82-8eb0-4e55-856b-f48227d84280",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1392,
        -288
      ],
      "id": "f0a91b16-b9cd-469f-bbeb-421d878a0cc1",
      "name": "Google Gemini Chat Model",
      "retryOnFail": true,
      "waitBetweenTries": 2300,
      "credentials": {
        "googlePalmApi": {
          "id": "oqCgaBAms4P77kmD",
          "name": "Gemini -Alex"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Company: {{ $('Merge1').item.json['Company name'] }}\nFirst Name: {{ $('Merge1').item.json['Contact Full Name'] }}\nwebsite: {{ $json.website }}\ncompany linkedin: {{ $json.Linkedin }}\nImprovement: {{ $json.improvement }}\nCountry:{{ $('Merge1').item.json.Country }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "ROLE\n\nYou are an elite M&A Outreach Specialist for Call2World, an industrial telecom group. You communicate operator to operator with founders of telecom companies. Your tone is peer-to-peer, concrete, and operational — never corporate, never financial-investor-like.\n\nYou optimise for:\n\nCredibility\n\nSpecificity\n\nHuman, written-by-an-operator language\n\nINPUTS\n\ncontactName\ncompanyName\ncountry\nwebsiteData\ncompanyLinkedIn\nfeedback (optional)\n\nSTEP 1 — DATA SANITISATION (CRITICAL)\n\nClean and validate contactName.\n\nDISCARD the name if:\n\nIt contains company terms (S.L., Telecom, Fibra, Energia, Geral, Info)\n\nIt has more than 3 words\n\nIt looks like a variable or placeholder ({{First Name}}, empty, etc.)\n\nFormatting:\n\nValid names → Title Case\n\nOutput:\n\nIf valid → {{CleanName}} = First Name\n\nIf invalid → {{CleanName}} = \"\"\n\nSTEP 2 — LANGUAGE SELECTION (ABSOLUTE)\n\nSelect one language based on country:\n\nSpain → Spanish (Spain)\n\nPortugal → Portuguese (Portugal)\n\nItaly → Italian\n\nAny other → English (UK)\n\nLANGUAGE CONSISTENCY RULE (NON-NEGOTIABLE)\nOnce selected:\n\nALL text must be written in that language.\n\nDo NOT mix languages.\n\nDo NOT include foreign placeholders.\n\nSTEP 3 — OPENING MODE SELECTION (MANDATORY)\n\nBefore writing the Icebreaker, choose ONE mode. You MUST rotate modes across emails.\n\nMode A — Direct Recognition: (start with a hard fact)\n\nMode B — Contextual Observation: (market/region → hard fact)\n\nMode C — Operator-to-Operator Alignment: (shared reality → hard fact)\n\nMode D — Milestone-Based Respect: (year / longevity / independence)\n\nSTEP 3.5 — PERSONALIZATION SAFETY FILTER (CRITICAL)\n\nBefore writing the Icebreaker, classify ALL extracted facts from websiteData and companyLinkedIn into ONE of the following tiers:\n\nTier 1 — Structural Facts (ALWAYS SAFE)\n\nGeography / region of operation\n\nYears of operation or founding year\n\nNetwork ownership (own fiber, wireless, etc.)\n\nB2B vs residential focus\n\nIndependent / local operator positioning\n\nTier 2 — Strategic Capabilities (USE WITH CAUTION)\n\nTechnologies (FTTH, MPLS, VoIP, SASE, etc.)\n\nEnterprise solutions\n\nWholesale vs retail activity\n\nTier 3 — Commercial / Product-Level Details (FORBIDDEN IN OPENINGS)\n\nSpecific product names\n\nHardware models (routers, CPEs, devices)\n\nMarketing slogans\n\nFeature lists copied or inferred from the website\n\nRULES:\n\nIcebreakers MUST be built using Tier 1 facts.\n\nTier 2 facts may be used ONLY if framed at a strategic or operational level (never promotional).\n\nTier 3 facts are STRICTLY FORBIDDEN in the Icebreaker and subject line.\n\nIf a fact cannot be clearly classified as Tier 1 or Tier 2 → DO NOT USE IT.\n\nAdditional guardrail:\n\nAvoid mentioning any detail that a human operator would NOT recall from memory after a casual website visit.\nIf it feels like it required scrolling, reading specs, or browsing product pages → do not use it.\n\nSTEP 4 — ICEBREAKER (INITIAL EMAIL ONLY)\n\nWrite 2 sentences (40–55 words).\n\nREQUIRED: At least ONE hard entity:\n\nRegion / city\n\nTechnology (FTTH, VoIP, WiMAX, etc.)\n\nYear / milestone\n\nTONE:\n\nConcrete\n\nSlightly informal\n\nFounder-to-founder\n\nFORBIDDEN LANGUAGE:\n\n“hemos seguido con atención”\n\n“trayectoria”\n\n“alineamiento estratégico”\n\nConsulting / PowerPoint language\n\nFEEDBACK LOOP: If feedback exists, fix that issue here first.\n\nSTEP 5 — GREETING RULE (CONTROLLED)\n\nDefault: Use a greeting.\nException: Greeting may be omitted only if the Icebreaker starts with a hard fact.\nNever omit the greeting for creativity alone.\n\nFormats:\n\nSpanish: Hola {{CleanName}}, or Hola,\n\nPortuguese: Olá {{CleanName}}, or Olá,\n\nEnglish: Hi {{CleanName}}, or Hi,\n\nItalian: Ciao {{CleanName}}, or Ciao,\n\nSTEP 6 — SUBJECT LINE SELECTION\n\nChoose ONE, rotate naturally:\n\nDirect: Alianza industrial / {{companyName}}\n\nPeer: De operador a operador: {{companyName}}\n\nFuture: Planes para {{companyName}} en 2026\n\n(Note: Translate subject line concept to target language)\n\nSTEP 7 — TEMPLATE LOCK (ABSOLUTE)\n\nYou MUST use the following templates EXACTLY.\n\nDo NOT modify wording, structure, or paragraph order.\n\nOnly these variables may change: {{Salutation}}, {{Icebreaker}}, Subject line.\n\n=== SPANISH (SPAIN) ===\n[INITIAL EMAIL] Subject: {{Selected Subject Line}}\n\n{{Salutation}}\n\n{{Icebreaker}}\n\nTe escribo porque Call2World es un grupo industrial de telecomunicaciones, formado por operadores, no un fondo de capital riesgo. Nuestra estrategia de buy-and-build busca construir un proyecto a largo plazo junto a operadores locales sólidos e independientes.\n\nNos asociamos de forma selectiva y con estructuras flexibles, según tus objetivos personales: desde una entrada mayoritaria (51%) hasta una adquisición total (100%).\n\nNormalmente esto permite a los fundadores:\n\n- Monetizar y reducir riesgo: Dar valor hoy a lo que ya has construido.\n\n- Decidir tu papel: Seguir liderando el crecimiento con nuestro respaldo o planificar una transición ordenada.\n\n- Eliminar carga operativa: Centralizamos finanzas, legal y back-office para que te centres en red y clientes.\n\nSi tiene sentido explorarlo sin compromiso, me encantaría tener una conversación breve y confidencial.\n\nUn saludo,\n\n[FOLLOW-UP 1] Subject: Re: {{Selected Subject Line}}\n\n{{Salutation}}\n\nImagino que estás a tope y este correo se habrá quedado abajo en la bandeja de entrada.\n\nSolo quería reflotarlo por si te interesa explorar esa posible alianza industrial de la que te hablaba, sin la presión de un fondo financiero.\n\nDime si tienes un hueco la semana que viene.\n\nUn saludo,\n\n[FOLLOW-UP 2] Subject: Re: {{Selected Subject Line}}\n\n{{Salutation}}\n\nNo quiero insistir innecesariamente ni llenar tu buzón.\n\nSolo reiterar que, si en algún momento te planteas dar un paso con Call2World (ya sea para desinvertir o para crecer acompañado), aquí estamos. Somos operadores y entendemos el negocio desde dentro.\n\nMe mantengo a la espera por si cambias de opinión en el futuro.\n\nUn abrazo,\n\n=== PORTUGUESE (PORTUGAL) ===\n[INITIAL EMAIL] Subject: {{Selected Subject Line}}\n\n{{Salutation}}\n\n{{Icebreaker}}\n\nEntro em contacto porque a Call2World é um grupo industrial de telecomunicações, criado por operadores, e não um fundo de investimento. A nossa estratégia de buy-and-build assenta na construção de um projeto sólido e de longo prazo com operadores independentes.\n\nTrabalhamos com parceiros selecionados e oferecemos modelos flexíveis, alinhados com os seus objetivos: desde uma parceria maioritária (51%) até à aquisição total (100%).\n\nEste modelo permite aos fundadores:\n\n- Realizar valor (De-risking): Monetizar hoje o que foi construído ao longo dos anos.\n\n- Definir o seu papel: Continuar a liderar o crescimento ou preparar uma transição tranquila.\n\n- Reduzir o “ruído”: Centralizamos finanças, jurídico e back-office para manter o foco na rede e nos clientes.\n\nSe fizer sentido explorar isto de forma confidencial e sem compromisso, terei todo o gosto em conversar consigo.\n\nCom os melhores cumprimentos,\n\n[FOLLOW-UP 1] Subject: Re: {{Selected Subject Line}}\n\n{{Salutation}}\n\nImagino que a agenda esteja preenchida e este email tenha passado despercebido.\n\nQueria apenas garantir que recebeu a minha mensagem sobre a possibilidade de uma parceria industrial com a Call2World, focada no crescimento sustentável e não apenas em engenharia financeira.\n\nSe tiver disponibilidade para uma breve conversa, diga-me.\n\nCumprimentos,\n\n[FOLLOW-UP 2] Subject: Re: {{Selected Subject Line}}\n\n{{Salutation}}\n\nNão quero ser inoportuno nem encher a sua caixa de entrada.\n\nApenas reforço que, se no futuro considerar uma parceria ou venda, estamos à disposição. Como operadores, valorizamos muito o que construiu até aqui.\n\nFico por aqui, caso mude de ideias mais tarde.\n\nUm abraço,\n\n=== ENGLISH (UK/GLOBAL) ===\n[INITIAL EMAIL] Subject: {{Selected Subject Line}}\n\n{{Salutation}}\n\n{{Icebreaker}}\n\nI’m reaching out because Call2World is an industrial telecom group, built by operators, not a traditional private equity fund. Our buy-and-build approach is focused on creating a long-term federation of strong, independent operators.\n\nWe partner selectively and offer flexibility aligned with your objectives: from a majority partnership (51%) to a full acquisition (100%).\n\nWhat this typically enables founders to do:\n\n- De-risk: Realise part or all of the value created to date.\n\n- Define your role: Continue leading growth with our backing, or prepare a structured transition.\n\n- Remove distraction: We centralise finance, legal, and back-office so you can stay focused on the network and customers.\n\nIf exploring this in a low-key, confidential way makes sense, I’d be glad to have a short conversation.\n\nBest regards,\n\n[FOLLOW-UP 1] Subject: Re: {{Selected Subject Line}}\n\n{{Salutation}}\n\nI imagine you are incredibly busy, and this email likely got buried.\n\nI just wanted to float this to the top of your inbox in case you are open to discussing an industrial partnership, without the pressure typically associated with financial funds.\n\nLet me know if you have 10 minutes next week.\n\nBest,\n\n[FOLLOW-UP 2] Subject: Re: {{Selected Subject Line}}\n\n{{Salutation}}\n\nI don’t want to be a nuisance or clog up your inbox. I’ll leave it here for now.\n\nJust wanted to reiterate that if you ever consider de-risking or looking for a partner, Call2World is here. As operators ourselves, we understand the business from the inside out.\n\nFeel free to reach out down the road.\n\nBest regards,\n\n=== ITALIAN ===\n[INITIAL EMAIL] Subject: {{Selected Subject Line}}\n\n{{Salutation}}\n\n{{Icebreaker}}\n\nTi contatto perché Call2World è un gruppo industriale di telecomunicazioni, guidato da operatori, non un fondo finanziario. La nostra strategia di buy-and-build è pensata per costruire valore nel lungo periodo insieme a operatori indipendenti e ben radicati.\n\nLavoriamo con partner selezionati e offriamo strutture flessibili, in base ai tuoi obiettivi: da una partnership di maggioranza (51%) fino all’acquisizione totale (100%).\n\nQuesto approccio consente ai fondatori di:\n\n- Monetizzare (De-risking): Valorizzare oggi ciò che è stato costruito.\n\n- Scegliere il proprio ruolo: Continuare a guidare la crescita o pianificare una exit graduale.\n\n- Ridurre la complessità: Centralizziamo finanza, legale e back-office.\n\nSe pensi che possa avere senso approfondire in modo riservato, sarei felice di fare due chiacchiere.\n\nUn cordiale saluto,\n\n[FOLLOW-UP 1] Subject: Re: {{Selected Subject Line}}\n\n{{Salutation}}\n\nImmagino tu sia molto impegnato e che questa mail sia finita in fondo alla lista.\n\nVolevo solo riportarla alla tua attenzione nel caso fossi interessato a valutare una partnership industriale, diversa dalle solite proposte dei fondi di investimento.\n\nFammi sapere se hai qualche minuto la prossima settimana.\n\nUn saluto,\n\n[FOLLOW-UP 2] Subject: Re: {{Selected Subject Line}}\n\n{{Salutation}}\n\nNon voglio insistere o intasare la tua casella di posta.\n\nVolevo solo ribadire che, se in futuro dovessi valutare un partner o una exit, noi siamo qui. Essendo operatori noi stessi, capiamo le sfide del settore meglio di chiunque altro.\n\nResto a disposizione qualora cambiassi idea.\n\nUn saluto,\n\nSTEP 8 — SIGNATURE RULE (ABSOLUTE)\nFORBIDDEN:\n\nNames\n\nJob titles\n\nTeam signatures\n\nEnd emails exactly as per template.\n\nGLOBAL CONSTRAINTS\n❌ No sales hooks\n\n❌ No curiosity bait\n\n❌ No rhetorical questions\n\n❌ No VC / PE language\n\n❌ No generic admiration\n\nYour goal is legitimacy, not persuasion.\n\nFINAL SELF-CHECK\nBefore outputting:\n\nLanguage consistency\n\nTemplate integrity\n\nConcrete Icebreaker\n\nNo forbidden phrases\n\nIf any rule is violated → rewrite before outputting."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1392,
        -416
      ],
      "id": "2ef248ce-f415-4ba3-aff0-eb87c5cf6d8f",
      "name": "Creador email",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "",
        "options": {
          "includeBinaries": false
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2448,
        -176
      ],
      "id": "d0df151c-f612-4913-8184-c26e90cc3b30",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70dfba27-d08a-48e4-9523-e96f87d2d458",
              "name": "=improvement",
              "value": "={{ $('Evaluador').item.json.output.improvement }}",
              "type": "string"
            },
            {
              "id": "dbeed95e-5539-49fd-b289-c51eee0be1fe",
              "name": "Company name",
              "value": "={{ $('Wait1').item.json['Company name'] }}",
              "type": "string"
            },
            {
              "id": "5b35d35d-83f6-46d0-850c-a1d8285e067d",
              "name": "Country",
              "value": "={{ $('Wait1').item.json.Country }}",
              "type": "string"
            },
            {
              "id": "f24f7be5-1c89-42a7-bce9-56a247bdde93",
              "name": "Company addresses",
              "value": "={{ $('Wait1').item.json['Company addresses'] }}",
              "type": "string"
            },
            {
              "id": "6876c2fc-698d-4a6a-a7ce-c791712def0c",
              "name": "Contact Full Name",
              "value": "={{ $('Wait1').item.json['Contact Full Name'] }}",
              "type": "string"
            },
            {
              "id": "74da21ea-183c-4f58-91cf-dd9e1ecd25b8",
              "name": "email",
              "value": "={{ $('Wait1').item.json.email }}",
              "type": "string"
            },
            {
              "id": "72c10902-2ae3-4d58-8f09-1d3392bdbe0d",
              "name": "Contact First Name",
              "value": "={{ $('Wait1').item.json['Contact First Name'] }}",
              "type": "string"
            },
            {
              "id": "722adb40-74df-4672-9dbb-db74b2f853db",
              "name": "Website",
              "value": "={{ $('Wait1').item.json.Website }}",
              "type": "string"
            },
            {
              "id": "368ac92e-e07c-4b98-b75a-ae9c745b5aa6",
              "name": "company_lkin",
              "value": "={{ $('Wait1').item.json.company_lkin }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        -224
      ],
      "id": "42a80c12-2f59-49c4-a9bf-a7f750f9b2a9",
      "name": "llena 'improvement'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "938d6f83-d097-4a1c-ac82-f9e20fa7b194",
              "name": "subject",
              "value": "={{ $('Creador email').item.json.output.initial_email.subject }}\n",
              "type": "string"
            },
            {
              "id": "fc07f469-5606-4e7a-8768-f06d37e81bfe",
              "name": "body",
              "value": "={{ $('Creador email').item.json.output.initial_email.body }}",
              "type": "string"
            },
            {
              "id": "b7b72c01-5196-4c88-be1c-7752a6565e16",
              "name": "Nombre ",
              "value": "={{ $('Loop Over Items').item.json['Contact First Name'] }}",
              "type": "string"
            },
            {
              "id": "2fcb6af3-f2f5-403d-b33c-9a318bab606f",
              "name": "empresa",
              "value": "={{ $('Loop Over Items').item.json['Company name'] }}",
              "type": "string"
            },
            {
              "id": "17e7daf6-fe0e-42f2-93b3-43011f0ccddd",
              "name": "pais",
              "value": "={{ $('Loop Over Items').item.json.Country }}",
              "type": "string"
            },
            {
              "id": "91d135fd-b29e-4046-b2bb-567f71472beb",
              "name": "1er nombre",
              "value": "={{ $('Loop Over Items').item.json['Contact First Name'] }}",
              "type": "string"
            },
            {
              "id": "254f6b20-83bc-4167-9ca0-a388334777e6",
              "name": "web",
              "value": "={{ $('Loop Over Items').item.json.Website }}",
              "type": "string"
            },
            {
              "id": "80d15733-e138-4eb1-ab23-ac4b165c2c60",
              "name": "email",
              "value": "={{ $('Loop Over Items').item.json.email }}",
              "type": "string"
            },
            {
              "id": "27aa91ad-8e99-4f19-800a-fbe8f12302b7",
              "name": "follow-up1",
              "value": "={{ $('Creador email').item.json.output.follow_up_1.body }}",
              "type": "string"
            },
            {
              "id": "a139a657-abdb-4a1c-99d4-87b6c8ac8fe9",
              "name": "follow-up2",
              "value": "={{ $('Creador email').item.json.output.follow_up_2.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2336,
        -432
      ],
      "id": "eab71386-6b47-4b8f-8416-353909857823",
      "name": "Mapea email"
    },
    {
      "parameters": {
        "inputDataFieldName": "empty",
        "name": "=Documento para subir-{{ $('Download file').item.json.name }}",
        "driveId": {
          "__rl": true,
          "value": "0AF9HtcUIYgfyUk9PVA",
          "mode": "list",
          "cachedResultName": "M&A - Call2World",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0AF9HtcUIYgfyUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "1PwXiSlL1dDBsFunJxxJeX_tBVcrhXgVB",
          "mode": "list",
          "cachedResultName": "Expansion IT+PT",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1PwXiSlL1dDBsFunJxxJeX_tBVcrhXgVB"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        592,
        144
      ],
      "id": "e8e69d42-6ca3-4173-a869-77fecc75d924",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mRfU1KO7JbyFBt0r",
          "name": "Alex-Drive"
        }
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "empty",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        368,
        144
      ],
      "id": "7929b686-d896-43f5-bd90-f4a99ab5a5df",
      "name": "Convert to File1",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        -448
      ],
      "id": "7f0241aa-4114-4d0d-b7b4-35f8d0c59d20",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "waH16GjEsFabVKt5",
          "mode": "list",
          "cachedResultName": "Companies Contacted",
          "cachedResultUrl": "/projects/eatpRpjy5ZUdoC7l/datatables/waH16GjEsFabVKt5"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "e_sent": true,
            "email": "={{ $('Merge1').item.json.email }}",
            "Company_name": "={{ $('Merge1').item.json['Company name'] }}",
            "website": "={{ $('Merge1').item.json.Website }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company_name",
              "displayName": "Company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "e_sent",
              "displayName": "e_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2112,
        -432
      ],
      "id": "e620a1e3-5216-4ab1-91cf-a889151ef814",
      "name": "Insert row1"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U0A0TJX8AMQ",
          "mode": "list",
          "cachedResultName": "a.llagostera"
        },
        "text": "=Workflow ended -  for  {{ $json.webViewLink }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        816,
        144
      ],
      "id": "3b9fcdcf-835e-4b05-817d-ffac46cc31b1",
      "name": "Send a message",
      "webhookId": "0a3d3bee-77fb-49bc-b4da-12c68bc86e63",
      "credentials": {
        "slackApi": {
          "id": "I8BgCxGLLLVy4vQV",
          "name": "Alex-Slack2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "Website",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3584,
        -816
      ],
      "id": "d69cb85a-ab39-4452-bf68-21125c24eb7b",
      "name": "Merge3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af8ac83f-cef4-4b15-adaf-b5ff6164722b",
              "name": "email",
              "value": "={{ $json[\"email_find\"] ? $json[\"email_find\"] : $json[\"email\"] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2624,
        -800
      ],
      "id": "ee1ed810-de13-463a-b7c8-e80765bde230",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2075b690-3cb2-495d-830c-7b7dc7f7022d",
              "name": "email_find",
              "value": "={{ $json.properties.mail_ceo.value }}",
              "type": "string"
            },
            {
              "id": "3b647da2-c982-43e2-87ad-8c479cc98a3a",
              "name": "Company name",
              "value": "={{ $('Workflow Configuration').item.json['Company name'] }}",
              "type": "string"
            },
            {
              "id": "89247495-0bd8-4a63-a436-28d3fca00f2f",
              "name": "Country",
              "value": "={{ $('Workflow Configuration').item.json.Country }}",
              "type": "string"
            },
            {
              "id": "ca448f69-769c-4103-b59c-685eab7b0c39",
              "name": "Website",
              "value": "={{ $('Workflow Configuration').item.json.Website }}",
              "type": "string"
            },
            {
              "id": "148436c9-9a9a-40f1-95c0-4f11424ebd9c",
              "name": "Contact title",
              "value": "={{ $('Workflow Configuration').item.json['Contact Title'] }}",
              "type": "string"
            },
            {
              "id": "e1ddde7a-06bd-437d-9c6b-0ca8667737c0",
              "name": "Personalized Email Introduction",
              "value": "={{ $('Workflow Configuration').item.json['Personalized Email Introduction'] }}",
              "type": "string"
            },
            {
              "id": "0ad08759-a8c0-42ad-90b4-52015c53790e",
              "name": "Company Address",
              "value": "={{ $('Workflow Configuration').item.json['Company addresses'] }}",
              "type": "string"
            },
            {
              "id": "d546783d-e582-4bb7-bb85-0acbced68338",
              "name": "Contact Full Name",
              "value": "={{ $json.properties.ceo_director.value }}",
              "type": "string"
            },
            {
              "id": "dcc80caa-f596-4be2-a872-59f8cfab61f9",
              "name": "Improvement",
              "value": "={{ $('Workflow Configuration').item.json.Improvement }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        -992
      ],
      "id": "6f3d943a-37b7-421a-8bb1-127c5bd72f36",
      "name": "Edit Fields3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2256,
        -1008
      ],
      "id": "0575b70e-e0bf-40fb-b8d5-0f75af72e5c2",
      "name": "Merge2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9c07d370-8ca5-4809-aa9b-79e46f7c55c0",
              "leftValue": "={{ $json.properties.mail_ceo.versions[0].name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "ba57b110-b896-4a26-8f9d-e228317f0232",
              "leftValue": "={{ $json.properties.mail_generico.versions[0].name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1808,
        -1008
      ],
      "id": "6510b8a0-9bb5-415b-8dc7-38010b86fb5e",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c889fe37-91f9-4e09-95d0-437cdf667487",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2800,
        -800
      ],
      "id": "cf989239-41ec-437f-9d9a-9210e9856fac",
      "name": "If2"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "Website",
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2400,
        -800
      ],
      "id": "259d2ddd-5dac-436e-8b1c-878fed234cd3",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2075b690-3cb2-495d-830c-7b7dc7f7022d",
              "name": "email_find",
              "value": "={{ $json.properties.mail_generico.value }}",
              "type": "string"
            },
            {
              "id": "3b647da2-c982-43e2-87ad-8c479cc98a3a",
              "name": "Company name",
              "value": "={{ $('Workflow Configuration').item.json['Company name'] }}",
              "type": "string"
            },
            {
              "id": "89247495-0bd8-4a63-a436-28d3fca00f2f",
              "name": "Country",
              "value": "={{ $('Workflow Configuration').item.json.Country }}",
              "type": "string"
            },
            {
              "id": "ca448f69-769c-4103-b59c-685eab7b0c39",
              "name": "Website",
              "value": "={{ $('Workflow Configuration').item.json.Website }}",
              "type": "string"
            },
            {
              "id": "148436c9-9a9a-40f1-95c0-4f11424ebd9c",
              "name": "Contact title",
              "value": "={{ $('Workflow Configuration').item.json['Contact Title'] }}",
              "type": "string"
            },
            {
              "id": "e1ddde7a-06bd-437d-9c6b-0ca8667737c0",
              "name": "Personalized Email Introduction",
              "value": "={{ $('Workflow Configuration').item.json['Personalized Email Introduction'] }}",
              "type": "string"
            },
            {
              "id": "0ad08759-a8c0-42ad-90b4-52015c53790e",
              "name": "Company Address",
              "value": "={{ $('Workflow Configuration').item.json['Company addresses'] }}",
              "type": "string"
            },
            {
              "id": "d546783d-e582-4bb7-bb85-0acbced68338",
              "name": "Contact Full Name",
              "value": "={{ $json.properties.ceo_director.value }}",
              "type": "string"
            },
            {
              "id": "dcc80caa-f596-4be2-a872-59f8cfab61f9",
              "name": "Improvement",
              "value": "={{ $('Workflow Configuration').item.json.Improvement }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        -1024
      ],
      "id": "b7a450fe-f602-420d-a9cf-9173c8c8c288",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "get",
        "companyId": {
          "__rl": true,
          "value": "={{ $json.companyId }}",
          "mode": "id"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1584,
        -1008
      ],
      "id": "b4dfa2d5-052e-4353-8b64-860f2132616c",
      "name": "Get a company",
      "credentials": {
        "hubspotAppToken": {
          "id": "I0bkczxDovNDKeLB",
          "name": "HubSpot Alex account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "company",
        "operation": "searchByDomain",
        "domain": "={{ $json.Website }}",
        "returnAll": true,
        "options": {
          "properties": []
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1360,
        -1008
      ],
      "id": "c77e2831-6999-4c17-a8e5-38779b54eaca",
      "name": "Search for a company by Domain",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "executeOnce": false,
      "credentials": {
        "hubspotAppToken": {
          "id": "I0bkczxDovNDKeLB",
          "name": "HubSpot Alex account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a263f652-94cc-42b8-8dc2-efc9db7fe5b8",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3328,
        -816
      ],
      "id": "a16ad451-4a82-4298-a8ad-5399564e9951",
      "name": "If1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3808,
        -816
      ],
      "id": "cc547e09-e238-402d-bbc1-234bc186ffe0",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a860cbf1-3c7f-42d5-87f7-e04f2d296e23",
              "name": "email",
              "value": "={{ $json.value }}",
              "type": "string"
            },
            {
              "id": "cd21b96f-43a1-4aed-9e88-8f348a37f5ac",
              "name": "=Contact First Name",
              "value": "={{ $json.first_name }}",
              "type": "string"
            },
            {
              "id": "3c5bb6b0-5903-41e7-8963-ad88b9bca742",
              "name": "=Contact Last Name",
              "value": "={{ $json.last_name }}",
              "type": "string"
            },
            {
              "id": "48a03e81-b233-4bd3-a5dd-d743e3b347eb",
              "name": "Company name",
              "value": "={{ $('Edit Fields2').item.json['Company name'] }}",
              "type": "string"
            },
            {
              "id": "0eac1b40-e61c-45d6-b9fa-b1271247e500",
              "name": "Country",
              "value": "={{ $('Edit Fields2').item.json.Country }}",
              "type": "string"
            },
            {
              "id": "311bd996-7ecc-4209-9ac8-73046feb6f48",
              "name": "Personalized Email introduction",
              "value": "",
              "type": "string"
            },
            {
              "id": "640a448b-a177-401b-a1dd-28dba4927ca3",
              "name": "Company addresses",
              "value": "={{ $('Edit Fields2').item.json['Company addresses'] }}",
              "type": "string"
            },
            {
              "id": "bfa12f25-7878-4e66-8b22-564258f8bfb6",
              "name": "Contact Full Name",
              "value": "={{ $('Edit Fields2').item.json['Contact Full Name'] }}",
              "type": "string"
            },
            {
              "id": "f174fc31-3254-4da7-82e2-e19fb07523d0",
              "name": "Contact Title",
              "value": "={{ $json.position }}",
              "type": "string"
            },
            {
              "id": "f778612d-97e5-4373-9137-a968db547aaf",
              "name": "Website",
              "value": "={{ $('Edit Fields2').item.json.Website }}",
              "type": "string"
            },
            {
              "id": "084a87c2-fb7b-4083-bc58-d8188f1f198f",
              "name": "Improvement",
              "value": "={{ $('Edit Fields2').item.json.Improvement }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3152,
        -816
      ],
      "id": "330f75fc-9374-4d84-9b66-10d9fdb902e3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "domain": "={{ $json.Website }}",
        "limit": 1,
        "filters": {}
      },
      "type": "n8n-nodes-base.hunter",
      "typeVersion": 1,
      "position": [
        2992,
        -816
      ],
      "id": "69be3839-2af4-4998-99e5-bd4b23112125",
      "name": "Hunter",
      "alwaysOutputData": false,
      "credentials": {
        "hunterApi": {
          "id": "soS3rSo4Vc30K4eq",
          "name": "Hunter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "634ac49e-0d59-4883-9fd3-56cf3cdcd0e9",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1136,
        -768
      ],
      "id": "d6aabe3b-6cd6-46ca-bf6c-2d73604c6b45",
      "name": "email is empty"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"language_detected\": {\n      \"type\": \"string\",\n      \"enum\": [\"Spanish\", \"Portuguese\", \"English\", \"Italian\"],\n      \"description\": \"The language selected based on the country input.\"\n    },\n    \"generated_icebreaker\": {\n      \"type\": \"string\",\n      \"description\": \"The custom 2-sentence opening text generated from the website data. Useful for quality control.\"\n    },\n    \"initial_email\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"subject\": {\n          \"type\": \"string\",\n          \"description\": \"The subject line for the first email.\"\n        },\n        \"body\": {\n          \"type\": \"string\",\n          \"description\": \"The full body of the first email, including salutation, icebreaker, and signature.\"\n        }\n      },\n      \"required\": [\"subject\", \"body\"]\n    },\n    \"follow_up_1\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"subject\": {\n          \"type\": \"string\",\n          \"description\": \"The subject line (usually starts with Re:).\"\n        },\n        \"body\": {\n          \"type\": \"string\",\n          \"description\": \"The body of the first follow-up (3-4 days later).\"\n        }\n      },\n      \"required\": [\"subject\", \"body\"]\n    },\n    \"follow_up_2\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"subject\": {\n          \"type\": \"string\",\n          \"description\": \"The subject line (usually starts with Re:).\"\n        },\n        \"body\": {\n          \"type\": \"string\",\n          \"description\": \"The body of the second follow-up (break-up email).\"\n        }\n      },\n      \"required\": [\"subject\", \"body\"]\n    }\n  },\n  \"required\": [\n    \"language_detected\",\n    \"generated_icebreaker\",\n    \"initial_email\",\n    \"follow_up_1\",\n    \"follow_up_2\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1552,
        -288
      ],
      "id": "2907a5d4-65cd-460a-868e-12e8410e86f3",
      "name": "Structured Output Parser",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2256,
        -224
      ],
      "id": "04451425-0786-4b7f-b49b-f7ee765fbed5",
      "name": "Wait",
      "webhookId": "903ab377-3eba-480b-a483-0b931cd5a1bc"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        496,
        -416
      ],
      "id": "3338bb85-94c4-4b6c-9923-72d1ce68d223",
      "name": "Wait1",
      "webhookId": "d431c5dc-a4f6-45f3-b641-953cbd6ce243"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "destinationKey": "website",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        944,
        -528
      ],
      "id": "fa36233e-9984-4a47-9a2c-fd86be550662",
      "name": "Markdown",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "destinationKey": "Linkedin",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        944,
        -368
      ],
      "id": "0317b20d-533d-47e6-bc7c-2a0292cad1b4",
      "name": "Markdown1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        -416
      ],
      "id": "39c950f2-efe1-4138-b911-ffc0056490f9",
      "name": "Combinar datos web"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/content",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.Website }}\",\n  \"rejectResourceTypes\": [\"image\", \"media\", \"font\"],\n  \"waitFor\": 3000,\n  \"gotoOptions\": {\n    \"timeout\": 60000\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        -528
      ],
      "id": "59721d63-8ae0-49e8-af1f-01d018d0fb6a",
      "name": "Leer web",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/content",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.company_lkin }}\",\n  \"rejectResourceTypes\": [\"image\", \"media\", \"font\"],\n  \"waitFor\": 3000,\n  \"gotoOptions\": {\n    \"timeout\": 60000\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        -368
      ],
      "id": "9a9fb10c-d699-48f9-8990-c8388658dd0f",
      "name": "Leer linkedin",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "email is empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Evaluador": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "llena 'improvement'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Evaluador",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Creador email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Creador email": {
      "main": [
        [
          {
            "node": "Evaluador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llena 'improvement'": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapea email": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row1": {
      "main": [
        [
          {
            "node": "Mapea email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hunter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a company": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for a company by Domain": {
      "main": [
        [
          {
            "node": "Get a company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email is empty": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Search for a company by Domain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Creador email",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Creador email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Leer web",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leer linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Combinar datos web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown1": {
      "main": [
        [
          {
            "node": "Combinar datos web",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combinar datos web": {
      "main": [
        [
          {
            "node": "Creador email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer web": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer linkedin": {
      "main": [
        [
          {
            "node": "Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8697891763169921f26dfa960f5627f5f42203d7b0ce03fb03d64836881419e"
  }
}